<div>
    <mat-accordion class="example-headers-align" multi>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Users
            </mat-panel-title>
            <mat-panel-description>
              Configure Users
              <mat-icon>supervisor_account</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-users-list></app-users-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              CostCenters
            </mat-panel-title>
            <mat-panel-description>
              Configure CostCenters
              <mat-icon>account_balance_wallet</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Carriers
            </mat-panel-title>
            <mat-panel-description>
              Configure Carriers
              <mat-icon>commute</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Shipment Statuses
            </mat-panel-title>
            <mat-panel-description>
              Configure Shipment Statuses
              <mat-icon>announcement</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

      </mat-accordion>
</div>
