<h1 mat-dialog-title>Create User</h1>
<div mat-dialog-content>
    <form method="POST" class="updateUserForm" [formGroup]="createUserForm" 
          xLayout="row" fxLayout.xs="column" fxLayoutGap="0.5rem" fxLayoutGap.xs="0" fxFlex.xs="100%">
        <div fxLayout="column" fxLayoutGap="0.5rem" fxFlex="50%" fxFlex.xs="100%">

          <mat-form-field appearance="fill" class="userFormInput">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error *ngIf="createUserForm.controls.firstName.dirty && createUserForm.controls.firstName.invalid">
                  <span *ngIf="createUserForm.controls.firstName.errors?.required">Field is mandatory</span>
                </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="userFormInput">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@example.com" formControlName="email" required>
            <mat-error *ngIf="createUserForm.controls.email.dirty && createUserForm.controls.email.invalid">
              <span *ngIf="createUserForm.controls.email.errors?.required">Field is mandatory</span>
              <span *ngIf="createUserForm.controls.email.errors?.email">Data entered are invalid</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select required formControlName="role">
              <mat-option *ngFor="let r of roles" [value]="r">{{r}}</mat-option>
            </mat-select>
            <mat-error *ngIf="createUserForm.controls.lastName.dirty && createUserForm.controls.lastName.invalid">
              <span *ngIf="createUserForm.controls.lastName.errors?.required">Field is mandatory</span>
            </mat-error>
          </mat-form-field>

        </div>
        <div fxLayout="column" fxLayoutGap="0.5rem" fxFlex="50%" fxFlex.xs="100%">

          <mat-form-field appearance="fill" class="userFormInput">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
            <mat-error *ngIf="createUserForm.controls.lastName.dirty && createUserForm.controls.lastName.invalid">
                <span *ngIf="createUserForm.controls.lastName.errors?.required">Field is mandatory</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="userFormInput">
            <mat-label>Position</mat-label>
            <input matInput formControlName="position" required>
            <mat-error *ngIf="createUserForm.controls.role.dirty && createUserForm.controls.role.invalid">
                <span *ngIf="createUserForm.controls.role.errors?.required">Field is mandatory</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="loginInput">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="createUserForm.controls.password.dirty && createUserForm.controls.password.invalid">
              <span *ngIf="createUserForm.controls.password.errors?.required">Field is mandatory</span>
              <span *ngIf="createUserForm.controls.password.errors?.minlength">Input lenght is invalid</span>
            </mat-error>
        </mat-form-field>

        </div>
    </form>
</div>
<div mat-dialog-actions>
  <button type="button" mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="!this.createUserForm.valid" class="modelButton">Ok</button>
</div>
